In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from functions import mes_para_numero, categorize_period

In [2]:
df = pd.read_csv("PAINEL_ONCOLOGIABR17330011131/cancer_colo_retal_diagnostico.csv", sep=';')
df.head()

,Regiao - diagnostico,Jan/2013,Fev/2013,Mar/2013,Abr/2013,Mai/2013,Jun/2013,Jul/2013,Ago/2013,Set/2013,...,Jan/2024,Fev/2024,Mar/2024,Abr/2024,Mai/2024,Jun/2024,Jul/2024,Ago/2024,Set/2024,Total
0,1 Regiao Norte,1,0,0,0,1,0,0,1,1,...,84,84,88,107,100,81,60,64,23,6063
1,2 Regi�o Nordeste,6,4,6,5,3,2,6,4,3,...,487,444,483,487,384,271,259,179,84,33593
2,3 Regiao Sudeste,12,12,16,15,11,17,16,17,17,...,1625,1579,1517,1537,1314,1166,1003,779,388,107232
3,4 Regiao Sul,9,5,5,6,6,3,8,6,7,...,897,889,848,871,749,647,615,429,311,57924
4,5 Regiao Centro-Oeste,3,0,0,0,2,2,3,1,1,...,230,217,198,223,176,137,114,138,33,13772

In [10]:
transposed_df = df.transpose()
transposed_df.reset_index(inplace=True)
columns = list(transposed_df.iloc[0])
transposed_df.columns = ['Ano/mês processamento'] + columns[1:]
transposed_df = transposed_df[1:]
transposed_df.reset_index(drop=True, inplace=True)
transposed_df.tail()

,Ano/mês processamento,1 Regiao Norte,2 Regi�o Nordeste,3 Regiao Sudeste,4 Regiao Sul,5 Regiao Centro-Oeste,Total
137,Jun/2024,81,271,1166,647,137,2302
138,Jul/2024,60,259,1003,615,114,2051
139,Ago/2024,64,179,779,429,138,1589
140,Set/2024,23,84,388,311,33,839
141,Total,6063,33593,107232,57924,13772,218584

In [11]:
transposed_df.to_csv('csv_files/ccr_diagnostico.csv', index=False)