In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from functions import mes_para_numero, categorize_period

In [7]:
original_csv = "PAINEL_ONCOLOGIABR17330011131/cancer_colo_retal_tratamento.csv"
new_csv = 'csv_files/ccr_tratamento.csv'

In [11]:
df = pd.read_csv(original_csv, sep=';')
df.head(10)

,Região - diagnóstico,Jan/2013,Fev/2013,Mar/2013,Abr/2013,Mai/2013,Jun/2013,Jul/2013,Ago/2013,Set/2013,...,Jan/2024,Fev/2024,Mar/2024,Abr/2024,Mai/2024,Jun/2024,Jul/2024,Ago/2024,Sem informção de tratamento,Total
0,1 Região Norte,0,0,0,0,0,0,0,0,0,...,64,73,82,72,84,68,61,57,1811,6063
1,2 Região Nordeste,0,0,1,0,2,2,1,1,1,...,387,326,416,439,376,321,330,340,9230,33593
2,3 Região Sudeste,2,1,5,4,0,5,6,6,5,...,1141,1105,1166,1096,1051,950,1051,968,36166,107232
3,4 Região Sul,1,0,1,1,1,1,3,2,1,...,592,536,522,594,529,563,515,487,20169,57924
4,5 Região Centro-Oeste,0,0,0,1,3,0,0,0,1,...,181,134,178,206,147,139,153,131,3521,13772
5,Total,3,1,7,6,6,8,10,9,8,...,2365,2174,2364,2407,2187,2041,2110,1983,70897,218584

In [10]:
transposed_df = df.transpose()
transposed_df.reset_index(inplace=True)
columns = list(transposed_df.iloc[0])
transposed_df.columns = ['Ano/mês processamento'] + columns[1:]
transposed_df = transposed_df[1:]
transposed_df.reset_index(drop=True, inplace=True)
transposed_df.tail()

,Ano/mês processamento,1 Região Norte,2 Região Nordeste,3 Região Sudeste,4 Região Sul,5 Região Centro-Oeste,Total
137,Jun/2024,68,321,950,563,139,2041
138,Jul/2024,61,330,1051,515,153,2110
139,Ago/2024,57,340,968,487,131,1983
140,Sem informção de tratamento,1811,9230,36166,20169,3521,70897
141,Total,6063,33593,107232,57924,13772,218584

In [ ]:
transposed_df.to_csv(new_csv, index=False)